---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=USD&ids=BTC&key=NOMICS_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"61261.23106682","price_date":"2021-10-18T00:00:00Z","price_timestamp":"2021-10-18T12:23:00Z","circulating_supply":"18847156","max_supply":"21000000","market_cap":"1154599978668","market_cap_dominance":"0.4302","num_exchanges":"393","num_pairs":"66552","num_pairs_unmapped":"5168","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.68217320","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"52639248690.39","price_change":"254.94334063","price_change_pct":"0.0042","volume_change":"13754782913.75","volume_change_pct":"0.3537","market_cap_change":"4865597161.93","market_cap_change_pct":"0.0042"},"7d":{"volume":"359977108753.62","price_change":"3616.50836372","price_change_pct":"0.0627","volume_change":"-7759794822.72","volume_change_pct":"-0.0211","market_cap_change":"68532359899.39","market_cap_change_pct":"0.0631"},"30d":{"volume":"1522197373880.64","price_change":"12846.85072168","price_change_pct":"0.2654","volume_change":"8259893679.87","volume_change_pct":"0.0055","market_cap_change":"243474649666.58","market_cap_change_pct":"0.2672"},"365d":{"volume":"21619336859660.05","price_change":"49745.89731289","price_change_pct":"4.3200","volume_change":"10910001015012.80","volume_change_pct":"1.0187","market_cap_change":"941328800462.11","market_cap_change_pct":"4.4138"},"ytd":{"volume":"19000357755051.91","price_change":"28380.89049044","price_change_pct":"0.8632","volume_change":"10361021114632.53","volume_change_pct":"1.1993","market_cap_change":"543454962554.63","market_cap_change_pct":"0.8892"}}]

        '
  recorded_at: Mon, 18 Oct 2021 12:24:05 GMT
recorded_with: VCR 6.0.0
